{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Register | Multi - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'dashboard/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'dashboard/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div>
                                            <div class="text-center">
                                                <div>
                                                    <a href="{% url 'dashboard' %}" class="">
                                                        <img src="{% static 'dashboard/images/logo-dark.png' %}" alt="" height="20" class="auth-logo logo-dark mx-auto">
                                                        <img src="{% static 'dashboard/images/logo-light.png' %}" alt="" height="20" class="auth-logo logo-light mx-auto">
                                                    </a>
                                                </div>
                                                <h4 class="font-size-18 mt-4">Register account</h4>
                                                <p class="text-muted">Get your free Multi account now.</p>

                                            </div>

                                            <div class="content-section">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <fieldset class="form-group">
                                                        <legend class="border-bottom mb-4 text-center">Join Today</legend>
                                                        {{ form|crispy }}
                                                    </fieldset>
                                                    <div class="form-group text-center">
                                                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                                    </div>
                                                    <div class="border-top pt-3">
                                                            Already Have An Account? <a class="ml-2" href="{% url 'user-login' %}">Log In</a>
                                                    </div>
                                                </form>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="authentication-bg position-relative">
                            <div class="bg-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'dashboard/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>


    </body>
</html>
