{% extends "base.html" %}
{% load static %}
{% block content %}

        <!--Page Header Start-->
        <section class="page-header clearfix"
            style="background-image: url({% static 'assets/images/backgrounds/3.jpg' %});">
            <div class="container">
                <div class="page-header__inner clearfix">
                    <h2 class="wow slideInDown animated" data-wow-delay="0.3s" data-wow-duration="1500ms">Contact Us
                    </h2>
                    <ul class="thm-breadcrumb list-unstyled wow slideInUp animated" data-wow-delay="0.3s"
                        data-wow-duration="1500ms">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Info One Start-->
        <section class="info-one info-one--contact">
            <div class="container">

            </div>
        </section>
        <!--Info One End-->

        <!--Contact page Start-->
        <section class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="contact-page__inner wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="section-title text-center">
                                <div class="section-title__tagline">
                                    <span class="left"></span>
                                    <h4>Send Us Message</h4><span class="right"></span>
                                </div>
                                <h2 class="section-title__title">Have Any Questions Let’s <br>Started Talk</h2>
                            </div>
                            <form action="https://conbiz-html.vercel.app/assets/inc/sendemail.php" class="contact-page__form contact-form-validated">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="contact-page__input-box">
                                            <input type="text" placeholder="Your name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="contact-page__input-box">
                                            <input type="text" placeholder="Phone number" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="contact-page__input-box">
                                            <input type="email" placeholder="Email address" name="email">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="contact-page__input-box">
                                            <input type="email" placeholder="Subject" name="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="contact-page__input-box">
                                            <textarea name="message" placeholder="Write message"></textarea>
                                        </div>
                                        <div class="contact-page__btn">
                                            <button type="submit">
                                                <span class="thm-btn">Send Us Message<i class="fa fa-angle-double-right"
                                                        aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Page End-->

        <!--Contact Box Start-->
        <section class="contact-box">
            <div class="container">
                <div class="row">
                    {% for item in contact %}
                    <!--Start Contact Box Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="contact-box__single text-center">
                            <div class="contact-box__single-icon">
                                <span class="icon-pin"></span>
                            </div>
                            <div class="contact-box__single-text">
                                <h2><a href="#">Our Location</a></h2>
                                <p>{{ item.location | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <!--End Contact Box Single-->
                    <!--Start Contact Box Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="contact-box__single style2 text-center">
                            <div class="contact-box__single-icon">
                                <span class="icon-letter"></span>
                            </div>
                            <div class="contact-box__single-text">
                                <h2><a href="#">Email Address</a></h2>
                                <p><a href="mailto:info@templatepath.com">{{ item.mail1 }}</a></p>
                                <p><a href="mailto:info@templatepath.com">{{ item.mail2 }}</a></p>

                            </div>
                        </div>
                    </div>
                    <!--End Contact Box Single-->
                    <!--Start Contact Box Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                        <div class="contact-box__single style3 text-center">
                            <div class="contact-box__single-icon">
                                <span class="icon-phone-call"></span>
                            </div>
                            <div class="contact-box__single-text">
                                <h2><a href="#">Phone Number</a></h2>
                                <p><a href="tel:123456789">{{ item.phone1 }}</a></p>
                                <p><a href="tel:123456789">{{ item.phone2 }}</a></p>
                            </div>
                        </div>
                    </div>
                    <!--End Contact Box Single-->
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--Contact Box End-->

        <!--Contact Page Google Map Start-->
        <section class="contact-page-google-map">
            <div class="section-title text-center">
                <div class="section-title__tagline">
                    <span class="left"></span>
                    <h4>Google Location</h4><span class="right"></span>
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                class="contact-page-google-map__one" allowfullscreen></iframe>
        </section>

        <!--Contact Page Google Map End-->

{% endblock content %}